In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("./trip_data_1.csv")

In [2]:
df.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,-73.978165,40.757977,-73.989838,40.751171
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.5,-74.006683,40.731781,-73.994499,40.750660
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.1,-74.004707,40.737770,-74.009834,40.726002
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,0.7,-73.974602,40.759945,-73.984734,40.759388
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,-73.976250,40.748528,-74.002586,40.747868

In [3]:
small_df = df[["pickup_datetime", "pickup_longitude", "pickup_latitude"]]
small_df.head()

       pickup_datetime  pickup_longitude  pickup_latitude
0  2013-01-01 15:11:48        -73.978165        40.757977
1  2013-01-06 00:18:35        -74.006683        40.731781
2  2013-01-05 18:49:41        -74.004707        40.737770
3  2013-01-07 23:54:15        -73.974602        40.759945
4  2013-01-07 23:25:03        -73.976250        40.748528

In [16]:
num_rows = len(small_df.index)
wait_times = np.random.exponential(300, num_rows).astype(int)

wait_times[:10]

array([ 178, 1179,  569,  137,  160,  460,   78,   36,   75,  203])

In [61]:
small_df.columns = ['pickup_datetime', 'longitude', 'latitude']
small_df.head()

       pickup_datetime  longitude   latitude
0  2013-01-01 15:11:48 -73.978165  40.757977
1  2013-01-06 00:18:35 -74.006683  40.731781
2  2013-01-05 18:49:41 -74.004707  40.737770
3  2013-01-07 23:54:15 -73.974602  40.759945
4  2013-01-07 23:25:03 -73.976250  40.748528

In [62]:
df_wait_times = pd.DataFrame({"wait_time": wait_times})
df_merged = pd.concat([small_df, df_wait_times], axis=1)

df_merged.head()

       pickup_datetime  longitude   latitude  wait_time
0  2013-01-01 15:11:48 -73.978165  40.757977        178
1  2013-01-06 00:18:35 -74.006683  40.731781       1179
2  2013-01-05 18:49:41 -74.004707  40.737770        569
3  2013-01-07 23:54:15 -73.974602  40.759945        137
4  2013-01-07 23:25:03 -73.976250  40.748528        160

In [63]:
df_merged['pickup_datetime'] = pd.to_datetime(df_merged['pickup_datetime'])

df_merged.head()

      pickup_datetime  longitude   latitude  wait_time
0 2013-01-01 15:11:48 -73.978165  40.757977        178
1 2013-01-06 00:18:35 -74.006683  40.731781       1179
2 2013-01-05 18:49:41 -74.004707  40.737770        569
3 2013-01-07 23:54:15 -73.974602  40.759945        137
4 2013-01-07 23:25:03 -73.976250  40.748528        160

In [64]:
df_single_day = df_merged[('2013-01-07' < df_merged['pickup_datetime']) & ('2013-01-08' > df_merged['pickup_datetime'])]

df_single_day.head()

      pickup_datetime  longitude   latitude  wait_time
3 2013-01-07 23:54:15 -73.974602  40.759945        137
4 2013-01-07 23:25:03 -73.976250  40.748528        160
5 2013-01-07 15:27:48 -73.966743  40.764252        460
7 2013-01-07 12:39:18 -73.989937  40.756775         36
8 2013-01-07 18:15:47 -73.980072  40.743137         75

In [65]:
df_single_day['request_datetime'] = df_single_day['pickup_datetime'] - df_single_day['wait_time'].astype('timedelta64[s]')

df_single_day.head()

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

      pickup_datetime  longitude   latitude  wait_time    request_datetime
3 2013-01-07 23:54:15 -73.974602  40.759945        137 2013-01-07 23:51:58
4 2013-01-07 23:25:03 -73.976250  40.748528        160 2013-01-07 23:22:23
5 2013-01-07 15:27:48 -73.966743  40.764252        460 2013-01-07 15:20:08
7 2013-01-07 12:39:18 -73.989937  40.756775         36 2013-01-07 12:38:42
8 2013-01-07 18:15:47 -73.980072  40.743137         75 2013-01-07 18:14:32

In [67]:
df_reindex = df_single_day.sort('request_datetime')
df_reindex = df_reindex.reset_index().drop('index', 1)

df_reindex.head()

      pickup_datetime  longitude   latitude  wait_time    request_datetime
0 2013-01-07 00:06:08 -73.788048  40.649975       2531 2013-01-06 23:23:57
1 2013-01-07 00:04:36 -73.959885  40.782265       2334 2013-01-06 23:25:42
2 2013-01-07 00:01:00 -73.934456  40.801556       1814 2013-01-06 23:30:46
3 2013-01-07 00:04:51 -73.994400  40.750820       1994 2013-01-06 23:31:37
4 2013-01-07 00:16:00 -73.980652  40.733898       2662 2013-01-06 23:31:38

In [69]:
df_request = df_reindex[['request_datetime', 'longitude', 'latitude', 'wait_time']]

df_request.head()

     request_datetime  longitude   latitude  wait_time
0 2013-01-06 23:23:57 -73.788048  40.649975       2531
1 2013-01-06 23:25:42 -73.959885  40.782265       2334
2 2013-01-06 23:30:46 -73.934456  40.801556       1814
3 2013-01-06 23:31:37 -73.994400  40.750820       1994
4 2013-01-06 23:31:38 -73.980652  40.733898       2662

In [75]:
df_pickup = df_reindex[['pickup_datetime', 'longitude', 'latitude', 'wait_time']].sort('pickup_datetime')

df_pickup.head()

        pickup_datetime  longitude   latitude  wait_time
371 2013-01-07 00:00:01 -74.001038  40.746243        216
202 2013-01-07 00:00:01 -73.968872  40.798531        389
569 2013-01-07 00:00:04 -73.969986  40.753120         86
634 2013-01-07 00:00:04 -73.956818  40.771019         56
562 2013-01-07 00:00:04 -73.974541  40.732578         88

In [73]:
df_request.to_csv('monday-request.csv')

In [76]:
df_pickup.to_csv('monday-pickup.csv')