In [2]:
import numpy as np
import pandas as pd

df_eta = pd.read_csv('monday-eta.csv', header=None, names=['ride_id', 'timestamp', 'longitude', 'latitude', 'wait_time'])

df_eta.head()

   ride_id            timestamp  longitude   latitude  wait_time
0        0  2013-01-06 23:23:59 -73.788048  40.649975       2529
1        0  2013-01-06 23:24:01 -73.788048  40.649975       2527
2        0  2013-01-06 23:24:03 -73.788048  40.649975       2525
3        0  2013-01-06 23:24:05 -73.788048  40.649975       2523
4        0  2013-01-06 23:24:07 -73.788048  40.649975       2521

In [3]:
df_req = pd.read_csv('monday-request.csv', header=None, names=['ride_id', 'timestamp', 'longitude', 'latitude', 'wait_time'])

df_req.head()

   ride_id            timestamp  longitude   latitude  wait_time
0        0  2013-01-06 23:23:57 -73.788048  40.649975       2531
1        1  2013-01-06 23:25:42 -73.959885  40.782265       2334
2        2  2013-01-06 23:30:46 -73.934456  40.801556       1814
3        3  2013-01-06 23:31:37 -73.994400  40.750820       1994
4        4  2013-01-06 23:31:38 -73.980652  40.733898       2662

In [4]:
df_pkp = pd.read_csv('monday-pickup.csv', header=None, names=['ride_id', 'timestamp', 'longitude', 'latitude', 'wait_time'])

df_eta.head()

   ride_id            timestamp  longitude   latitude  wait_time
0        0  2013-01-06 23:23:59 -73.788048  40.649975       2529
1        0  2013-01-06 23:24:01 -73.788048  40.649975       2527
2        0  2013-01-06 23:24:03 -73.788048  40.649975       2525
3        0  2013-01-06 23:24:05 -73.788048  40.649975       2523
4        0  2013-01-06 23:24:07 -73.788048  40.649975       2521

In [5]:
df_eta_labeled = df_eta
size = df_eta_labeled.shape[0]

df_eta_labeled['msg_type'] = pd.Series(["ETA"] * size)

df_eta_labeled.head()

   ride_id            timestamp  longitude   latitude  wait_time msg_type
0        0  2013-01-06 23:23:59 -73.788048  40.649975       2529      ETA
1        0  2013-01-06 23:24:01 -73.788048  40.649975       2527      ETA
2        0  2013-01-06 23:24:03 -73.788048  40.649975       2525      ETA
3        0  2013-01-06 23:24:05 -73.788048  40.649975       2523      ETA
4        0  2013-01-06 23:24:07 -73.788048  40.649975       2521      ETA

In [6]:
size = df_req.shape[0]
df_req['msg_type'] = pd.Series(["REQ"] * size)
df_req.head()

   ride_id            timestamp  longitude   latitude  wait_time msg_type
0        0  2013-01-06 23:23:57 -73.788048  40.649975       2531      REQ
1        1  2013-01-06 23:25:42 -73.959885  40.782265       2334      REQ
2        2  2013-01-06 23:30:46 -73.934456  40.801556       1814      REQ
3        3  2013-01-06 23:31:37 -73.994400  40.750820       1994      REQ
4        4  2013-01-06 23:31:38 -73.980652  40.733898       2662      REQ

In [7]:
size = df_pkp.shape[0]
df_pkp['msg_type'] = pd.Series(["PKP"] * size)
df_pkp.head()

   ride_id            timestamp  longitude   latitude  wait_time msg_type
0      371  2013-01-07 00:00:01 -74.001038  40.746243        216      PKP
1      202  2013-01-07 00:00:01 -73.968872  40.798531        389      PKP
2      569  2013-01-07 00:00:04 -73.969986  40.753120         86      PKP
3      634  2013-01-07 00:00:04 -73.956818  40.771019         56      PKP
4      562  2013-01-07 00:00:04 -73.974541  40.732578         88      PKP

In [8]:
df_pkp.shape

(407270, 6)

In [9]:
df_merged = pd.concat([df_req, df_pkp, df_eta], axis=0)

df_merged.head()

   ride_id            timestamp  longitude   latitude  wait_time msg_type
0        0  2013-01-06 23:23:57 -73.788048  40.649975       2531      REQ
1        1  2013-01-06 23:25:42 -73.959885  40.782265       2334      REQ
2        2  2013-01-06 23:30:46 -73.934456  40.801556       1814      REQ
3        3  2013-01-06 23:31:37 -73.994400  40.750820       1994      REQ
4        4  2013-01-06 23:31:38 -73.980652  40.733898       2662      REQ

In [10]:
df_merged['timestamp'] = pd.to_datetime(df_merged['timestamp'])

df_merged.head()

   ride_id           timestamp  longitude   latitude  wait_time msg_type
0        0 2013-01-06 23:23:57 -73.788048  40.649975       2531      REQ
1        1 2013-01-06 23:25:42 -73.959885  40.782265       2334      REQ
2        2 2013-01-06 23:30:46 -73.934456  40.801556       1814      REQ
3        3 2013-01-06 23:31:37 -73.994400  40.750820       1994      REQ
4        4 2013-01-06 23:31:38 -73.980652  40.733898       2662      REQ

In [11]:
df_sorted = df_merged.sort('timestamp')

df_sorted.head()

   ride_id           timestamp  longitude   latitude  wait_time msg_type
0        0 2013-01-06 23:23:57 -73.788048  40.649975       2531      REQ
0        0 2013-01-06 23:23:59 -73.788048  40.649975       2529      ETA
1        0 2013-01-06 23:24:01 -73.788048  40.649975       2527      ETA
2        0 2013-01-06 23:24:03 -73.788048  40.649975       2525      ETA
3        0 2013-01-06 23:24:05 -73.788048  40.649975       2523      ETA

In [12]:
df_sorted_reindexed = df_sorted.reset_index().drop('index', 1)

df_sorted_reindexed.head()

   ride_id           timestamp  longitude   latitude  wait_time msg_type
0        0 2013-01-06 23:23:57 -73.788048  40.649975       2531      REQ
1        0 2013-01-06 23:23:59 -73.788048  40.649975       2529      ETA
2        0 2013-01-06 23:24:01 -73.788048  40.649975       2527      ETA
3        0 2013-01-06 23:24:03 -73.788048  40.649975       2525      ETA
4        0 2013-01-06 23:24:05 -73.788048  40.649975       2523      ETA

In [13]:
df_sorted_reindexed.to_csv('monday-all.csv')

In [14]:
df_sorted_reindexed['timestamp'].mode()

0   2013-01-07 18:50:00
dtype: datetime64[ns]

In [24]:
df_sorted_reindexed['timestamp'].value_counts()[:50]

2013-01-07 18:50:00    1504
2013-01-07 18:49:00    1484
2013-01-07 18:52:00    1472
2013-01-07 18:26:00    1466
2013-01-07 18:54:00    1461
2013-01-07 18:53:00    1461
2013-01-07 18:25:00    1460
2013-01-07 18:51:00    1458
2013-01-07 19:19:00    1451
2013-01-07 18:55:00    1451
2013-01-07 18:56:00    1444
2013-01-07 18:15:00    1429
2013-01-07 18:27:00    1423
2013-01-07 19:13:00    1422
2013-01-07 18:48:00    1417
2013-01-07 18:45:00    1415
2013-01-07 18:34:00    1415
2013-01-07 19:17:00    1414
2013-01-07 18:16:00    1413
2013-01-07 18:20:00    1413
2013-01-07 19:20:00    1413
2013-01-07 18:43:00    1410
2013-01-07 19:09:00    1409
2013-01-07 18:41:00    1408
2013-01-07 19:25:00    1405
2013-01-07 19:18:00    1402
2013-01-07 19:22:00    1402
2013-01-07 19:21:00    1401
2013-01-07 18:44:00    1401
2013-01-07 18:47:00    1400
2013-01-07 18:24:00    1400
2013-01-07 18:57:00    1399
2013-01-07 18:35:00    1397
2013-01-07 18:18:00    1397
2013-01-07 18:19:00    1396
2013-01-07 18:58:00    1394
2013-01-07 18:33:00    1392
2013-01-07 19:11:00    1391
2013-01-07 18:42:00    1391
2013-01-07 18:14:00    1386
2013-01-07 19:08:00    1386
2013-01-07 19:03:00    1386
2013-01-07 19:16:00    1383
2013-01-07 18:17:00    1382
2013-01-07 18:28:00    1379
2013-01-07 18:23:00    1378
2013-01-07 18:31:00    1377
2013-01-07 19:00:00    1375
2013-01-07 18:59:00    1373
2013-01-07 18:36:00    1370
dtype: int64